<!DOCTYPE html>
<html lang="en">
<head>
    <title>Seleccionar curso</title>
    <link rel="stylesheet" href="/css/estilos_pagnotas.css">
</head>
<body>

<div class="menu-container">
    <button class="menu-boton" onclick="toggleMenu()">
        &#9776; Menú
    </button>
    <img src="/imagenes/logo.jpg" alt="logo" class="menu-imagen">
    <span class="nombre_esc">Colegio Provincial Dr Ernesto</span>
    <div id="menu" class="menu">
        <a href="/pagdeinicio">Inicio</a>
        <a href="notas">Notas</a>
        <a href="perfil">Perfil</a>
    </div>
</div>

<script>
    function toggleMenu() {
        var menu = document.getElementById('menu');
        if (menu.style.display === 'block') {
            menu.style.display = 'none';
        } else {
            menu.style.display = 'block';
        }
    }
</script>

<table>
    <tbody>
        <tr>
            <td colspan="12">COLEGIO PROVINCIAL DR. ERNESTO GUEVARA</td>
        </tr>
        <tr>
            <td colspan="2">Apellido y nombre:</td>
            <td colspan="2"><%= usuario.nombre %> <%= usuario.apellido %></td>
            <td colspan="2">Curso:</td>
            <td colspan="2"><%= usuario.curso.nombre_curso %></td>
            <td colspan="2">Año: </td>
            <td colspan="2">2024</td>
        </tr>
        <tr>
            <td colspan="2">Ciclo Superior de la ESO</td>
            <!-- Ciclo de materias --> 
            <% usuario.curso.materias.forEach((materia) => { %>
                <td><%= materia.nombre_materia %></td>
            <% }) %>
        </tr>

        <!-- Primer cuatrimestre -->
        <tr>
            <td rowspan="3">Primer cuatrimestre</td>
            <td>1° informe</td>
            <% usuario.curso.materias.forEach((materia) => { %>
                <td><%= materia.notas[0]?.nota|| 'N/A' %></td>
            <% }) %>
        </tr>
        <tr>
            <td>2° informe</td>
            <% usuario.curso.materias.forEach((materia) => { %>
                <td><%= materia.notas[1]?.nota || 'N/A' %></td>
            <% }) %>
        </tr>
        <tr>
            <td>NOTA</td>
            <% usuario.curso.materias.forEach((materia) => { %>
                <td><%= materia.notas[2]?.nota || 'N/A' %></td>
            <% }) %>
        </tr>

        <!-- Segundo cuatrimestre -->
        <tr>
            <td rowspan="3">Segundo cuatrimestre</td>
            <td>1° informe</td>
            <% usuario.curso.materias.forEach((materia) => { %>
                <td><%= materia.notas[3]?.nota || 'N/A' %></td>
            <% }) %>
        </tr>
        <tr>
            <td>2° informe</td>
            <% usuario.curso.materias.forEach((materia) => { %>
                <td><%= materia.notas[4]?.nota || 'N/A' %></td>
            <% }) %>
        </tr>
        <tr>
            <td>NOTA</td>
            <% usuario.curso.materias.forEach((materia) => { %>
                <td><%= materia.notas[5]?.nota || 'N/A' %></td>
            <% }) %>
        </tr>

        <!-- Nota Final -->
        <tr>
            <td rowspan="3">Nota Anual</td>
            <td>Nota</td>
            <% usuario.curso.materias.forEach((materia) => { %>
                <td><%= materia.notas[6]?.nota|| 'N/A' %></td>
            <% }) %>
        </tr>

    </tbody>
</table>

</body>
</html>
